

/*  ============= NAVBAR =============== */

nav {
    background-color: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 100;
}
/* Change Navbar styles on scroll using javascript */
.window-scroll {
    background-color: var(--clr-primary);
    box-shadow: 0 1rem 2rem rgba(0, 1, 2, 0.2)  ;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;

}
.nav__menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}
.nav__menu a:hover,
.nav__menu a:focus {
    color: var(--clr-bg2);
}

/*  ============= END NAVBAR =============== */



/*  =============  HEADER =============== */

header {
    position:relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem
    hei
    100%;
}

.image-box-placeholder {
    width: 250px;
    height: 250px;
    background-color: pink;
}

.header__left p {
    margin: 1rem 0 2.4rem;
}


/*  ============= END HEADER =============== */


/*  =============  CATEGORIES  =============== */

.categories {
    background-color: var(--clr-bg2);
    height: 30rem;

}
.categories h1 {
    line-height: 1;
    margin-bottom: 3rem;
}
.categories__container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2rem;
}
.categories__left {
    margin-right: 2rem;
}
.categories__left p {
    margin: 1rem 0 3rem;
    letter-spacing: -0.px;
    line-height: 1.4;
}
.categories__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}
.category {
    background-color: var(--clr-bg3);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category:hover,
.category:focus {
    box-shadow: 0 3rem 3rem rgba(0, 1, 2, 0.3) ;
    z-index: 1;
}

.category__icon {
    background-color: var(--clr-primary);
    padding: 0.6rem;
    border-radius: 0.9rem;
}

.category:nth-child(2) .category__icon {
    background-color: var(--clr-danger);
}

.category:nth-child(3) .category__icon {
    background-color: var(--clr-success);
}
.category:nth-child(4) .category__icon {
    background-color: var(--clr-warning);
}
.category:nth-child(5) .category__icon {
    background-color: var(--clr-success);
}

.category h5 {
    margin: 2rem 0 1rem;
    font-size: 0.85rem;
}

.category p {
    font-size: 0.7rem;
}


/*  =============  END CATEGORIES =============== */


/*  ============= POPULAR COURSES =============== */


.courses {
    margin-top: 15rem;
}
.course__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course {
    background-color: var(--clr-bg2);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    /* padding: 1rem; */
    border-radius: 1rem;
}
.course:hover ,
.course:focus {
    background-color: transparent;
    border-color: var(--clr-primary);
}
.course__image img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.course__info {
    padding: 2rem 1rem;

}
.course__info h4 {
    font-size: 1.1rem;
}
.course__info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.7rem;
}


/*  ============= END POPULAR COURSES =============== */


/*  ============= FAQ SECTION =============== */

.faqs {
    background-color: var(--clr-bg2);
    box-shadow: inset 0 0 3rem rgba(0, 1, 2, 0.5);
}

.faqs__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.faq {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: fit-content;
    padding: 1rem;
    background-color: var(--clr-primary);
    cursor: pointer;
    border-radius: 1rem;

}
.faq h4 {
    font-size: 1rem;
    line-height: 1.4;

}
.faq__icon {
    align-self: flex-start;
    font-size: 1rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
    font-size: 0.8rem;
}
.faq.open p {
    display: block;
}

/*  ============= END OF FAQ SECTION =============== */















